.tl_version_panel.language_panel {
    display: flex;
    justify-content: space-between;
}

.tl_version_panel.language_panel #tl_language {
    text-align: left;
}

.tl_version_panel.language_panel #tl_language,
.tl_version_panel.language_panel #tl_version {
    flex-grow: 1;
}
